body {
  margin: 0;
  background: #F4F4F4;
  overflow-x: hidden;
}

.header {
}

.fondo1 {
  background-size: cover;
  position: relative;
  height: 100%;
}

.iphone {
  position: absolute;
  top: 70px;
  right: 100px;
}

.logo {
  text-shadow: 2px 2px 2px 2px;
  position: absolute;
  padding-left: 90px;
  padding-top: 40px;
  top: 0px;
  left: 0px;
}

.title_1 {
  text-shadow:20px 20px 20px 20px;
  position:absolute;
  top: 80px;
  left: 0px;
  padding-left: 90px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 61px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.title_2 {
  text-shadow:20px 20px 20px 20px;
  position: absolute;
  top: 140px;
  left: 0px;
  padding-left: 90px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  font-size: 52px;
  line-height: 61px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.sub_title{
  position: absolute;
  width: 572px;
  height: 76px;
  top: 260px;
  left: 0px;
  padding-left: 90px;
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.mensaje {
  position: absolute;
  background: #FFFFFF;
  top: 350px;
  left: 90px;
  padding-left: 20px;
  padding-top: 30px;
  width: 600px;
  height: 160px;
  border: none;
  border: 0;
  border-radius: 10px;
  vertical-align: Top;
  Font-family: Roboto;
  font-style: Regular;
  Font-size: 16px;
  Line-height: 19px;
  Line-height: 100%;
  Align: Left;
  color: #B0B0B0;
}

.wtspbutton{

  position: absolute;
  align: center;
  top: 570px;
  left: 90px;
  width: 250px;
  height: 70px;
  Font-family: Roboto;
  color: #FFFFFF;
  background: #6DD6C3;
  font-weight: bolder;
  font-size: bolder;
  border: none;
  border: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wtspicon {
  padding-left: 15px;
}

.conditions {
  position: absolute;
  top: 655px;
  left: 90px;
  width: 235px;
  height: 31px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.beneficios {
  font-family: Roboto;
  font-style: normal;
  align: center;
  font-weight: 300;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #000000;
  padding-bottom: 40px;
}

.container-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #FAFBFD;
  border-radius: 25px;
  width: 1280px;
  height: 320px;
}

.cbox1 {
  align: center;
}
.nuestros_asesores{
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.03em;

  color: #000000;
}

.te_estan_esperando{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.03em;

color:#6DD6C3;
}

.nuestros_asesores_body{
  font-family: Roboto;
  font-style: normal;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.03em;

  color: #000000;
}
.ticket {
  position: relative;
  top: 10px;
}
.cliente-wsp {
  position: relative;
  top:-90px;
  margin-bottom: 80px;

}
.hidder {
  overflow: hidden;
  background: #FAFBFD;
  height: 140px;
  width: 100%;
  position: absolute;
  background:#F4F4F4;
}
.overtas{
  overflow: hidden;
}
.revisa_ofertas {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #000000;
}

.click {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #696969;
}

.container-2 {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.box {
  margin:15px;
}

.box-1 {
  width: 320px;
  height: 320px;
  background: #323232;
  border-radius: 25px;
}

.frenos {
  position: relative; /*** position relative to place the img in center ***/
  top: 10px;
  left: 0;
}

.frenos-txt{
  position:relative;
  bottom: 10px;
  left: 30px;
  width: 117px;
  height: 47px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.box-2 {
  width: 320px;
  height: 320px;
  background: #F7C751;
  border-radius: 25px;
}

.lubricantes {
  position: relative; /*** position relative to place the img in center ***/
  top: 0;
  left: 30px;
}

.lubricantes-txt{
  position: relative;
  top: -40px;
  left: 30px;
  width: 117px;
  height: 47px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.box-3 {
  width: 560px;
  height: 320px;
  background: #B333EE;
  border-radius: 25px;
}

.boutique {
  position: relative; /*** position relative to place the img in center ***/
  top: -35px;
  left: 180px;
}
.boutique-txt{
  position: relative;
  top: -90px;
  left: -350px;
  width: 117px;
  height: 47px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.container-3 {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 25px;
}

.box-4 {
  width: 560px;
height: 320px;
background: #EDECED;
border-radius: 25px;
}

 .am-em {
   position: relative; /*** position relative to place the img in center ***/
   top: -35px;
   left: 180px;
 }

 .am {
   position: relative;
   top: -65px;
   left: 30px;
   width: 117px;
   height: 47px;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 40px;
   line-height: 47px;
   text-align: center;
   letter-spacing: -0.03em;
   color: #A1A1A1;
 }

.em {
  position: relative;
  top: -75px;
  left: 30px;
  width: 117px;
  height: 47px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #A1A1A1;
}

.box-5 {
  width: 320px;
  height: 320px;
  background: #67CC7A;
  border-radius: 25px;
}

.filtros {
  position: relative; /*** position relative to place the img in center ***/
  top: -30px;
  left: 0px;
}
.filtros-txt {
  position: relative;
  width: 117px;
  height: 47px;
  bottom: -450px;
  left: -500px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.box-6 {
  width: 320px;
  height: 320px;
  background: #327EF6;
  border-radius: 25px;
}

.accesorios {
  position: relative; /*** position relative to place the img in center ***/
  top: -60px;
  left: 0px;
}

.accesorios-txt {
  position: relative;
  top: -160px;
  left: 30px;
  width: 117px;
  height: 47px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.container-4 {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 25px;
}

.box-7 {
  width: 920px;
  height: 560px;
  background: linear-gradient(180deg, #FF3E55 0%, #E92755 100%);
  border-radius: 25px;
}

.ofertas {
  position: relative; /*** position relative to place the img in center ***/
  top: -85px;
  left: 50px;
  padding:5px;
}

.ofertas-txt {
  position: relative;
  width: 117px;
  height: 47px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.box-8 {
  width: 320px;
  height: 560px;
  background: #FF9416;
  border-radius: 25px;
}

.genericos {
  position: relative;
  top: 0px;
  left: -40px;
}

.genericos-txt {
  position: relative;
  top: 0;
  left: 25px;
  width: 117px;
  height: 47px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.compra-rep {
  background-size: cover;
  height: 222px;
}

.fondo2 {
  position: absolute;
  width: 101%;
  padding-bottom: 20px;
  margin-bottom: 60px;
  height: 227px;
}

.compra-rep-txt {
  position: relative;
  top: 80px;
  left: 250px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

footer {
width: 100%;
background: #253743;
}

.container-logos {
  background: #253743;
  width: 105%;
}

.brands  {
  position: relative;
  padding: 40px;
}

.freightliner-logo {
  height: 37px;
  width: 142px;
}

.fuso-logo {
  height: 22px;
  width: 114px;
}

.western-star-trucks-logo {
  height: 51px;
  width: 115px;
}

.mercedes-benz-logo {
  height: 63px;
  width: auto;
}

.container-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  align-items: flex-start;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 450px;
  background: #253743;
}
.footer-txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #FFFFFF;
}

.wtspbutton2 {
    position:absolute;
    width: 250px;
    left:600px;
    height:70px;
    top:-10px;
    Font-family: Roboto;
    color: #FFFFFF;
    background: #6DD6C3;
    font-weight: bolder;
    font-size: bolder;
    border: none;
    border: 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.webpay {
  position: relative;
  bottom: 30px;
  right: -60px;
}

.khipu {
  position: relative;
  bottom: 30px;
  right: -110px;
}

.kaufmann {
  position: relative;
  bottom: 30px;
  right: -700px;
}

.minifooter {
    text-align: center;
    height: 30px;

    border-color:#FFFFFF;
    border-width: thin;
}

.copyrights {
  bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: #FFFFFF;
}

/*responsive design*/

@media screen and (max-width:800px){
  .sobre-kaufparts{
    display:none;
  }
  .wtspbutton{
    position: fixed;
    left: 50%;
    top: 78%;
    transform: translate(-50%, -50%);
    position: absolute;
    align: center;
    width: 305px;
    height: 70px;
    Font-family: Roboto;
    color: #FFFFFF;
    background: #6DD6C3;
    font-weight: bolder;
    font-size: bolder;
    border: none;
    border: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .mensaje {
    position: absolute;
    background: #FFFFFF;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding-left: 20px;
    padding-top: 30px;
    width: 280px;
    height: 160px;
    border: none;
    border: 0;
    border-radius: 10px;
    vertical-align: Top;
    Font-family: Roboto;
    font-style: Regular;
    Font-size: 16px;
    Line-height: 19px;
    Line-height: 100%;
    Align: Left;
    color: #B0B0B0;
  }
  .sub_title{
    position: absolute;
    width: 305px;
    height: 137px;
    left: 42%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding-left: 90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.03em;

    color: #FFFFFF;
  }
  .title_1{
    position: absolute;
    width: 306px;
    height: 38px;
    left: 42%;
    top: 16%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

  letter-spacing: -0.03em;

  color: #FFFFFF;
  }

  .title_2 {
    left: 42%;
    top: 22%;
    transform: translate(-50%, -50%);
    width: 300px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    letter-spacing: -0.03em;
    color: #FFFFFF;
  }

  .beneficios {
    padding-top: -10px;
    font-family: Roboto;
    font-style: normal;
    align: center;
    font-weight: 300;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
    padding-bottom: 40px;
  }
  .container-1 {
    height: 800px;
    align-items: center;
    align-content: center;
    margin-left: 20px;
  }
  .container-box {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #FAFBFD;
    border-radius: 25px;
    width: 1280px;
    height: 800px;

  }
  .cliente-wsp {
    position: relative;
    top:-45px;
    margin-bottom: 80px;

  }

}

@media screen and (max-width:1200px){
  .iphone {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    top:300px;
  }
  .fondo1 {
    background-size: cover;
    position: relative;
    height: 100%;
  }
  .box {
  width: 305px !important;
  height: 160px !important;
  }

  .frenos{
    position: relative;
    left: 120px;
    height: 150px;
    width: auto;
  }
  .lubricantes {
    position: relative;
    left: 160px;
    height: 180px;
    width: auto;
  }
  .boutique {
    position: relative;
    left: 150px;
    height: 150px;
    top: 15px;
    width: auto;
  }
  .am-em {
    position: relative;
    left: 120px;
    height: 180px;
    width: auto;
    top: 10px;
  }
  .filtros {
    position: relative;
    left: 120px;
    height: 230px;
    width: auto;
  }
  .accesorios {
    position: relative;
    left: 120px;
    height: 250px;
    top:  -30px;
    width: auto;
  }
  .ofertas {
    position: relative;
    left: 120px;
    height: 200px;
    width: auto;
    top:-10px;
  }
  .genericos {
    position: relative;
    left: 120px;
    height: 150px;
    width: auto;
  }
  .compra-rep{
    position: relative;
    left: 120px;
    height: 150px;
    width: auto;
    top: 50px;
  }
  .txt {
    position: relative!important;
    width: 62px!important;
    height: 25px!important;

    font-family: Roboto!important;
    font-style: normal!important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 18px !important;
    /* identical to box height */

    text-align: center!important;
    letter-spacing: -0.03em!important;

    color: #FFFFFF;
  }
  .frenos-txt {
    top: 0px;
    left: -160px;
  }
  .lubricantes-txt {
    top:-30px;
    left:-115px;
  }
  .boutique-txt {
    top:0px;
    left:-115px
  }
  .am {
    top:-50px;
    left:30px;
    color: #A1A1A1 !important;
  }
  .em {
    top:-100px;
    left:30px;
    color: #A1A1A1 !important;
  }
  .filtros-txt {
    top:-100px;
    left:-180px;
  }
  .accesorios-txt {
    top:-120px;
    left:-180px;
  }
  .ofertas-txt {
    top:-80px;
    left:-180px;
  }
  .genericos-txt {
    left:-100px;
  }
}
a {text-decoration: none; }

